{% load static %}
<div class="row footer" style="background: url('{% static 'images/footer-bg.png' %}') , rgba(24, 24, 24, 0.5);
background-blend-mode: color;
background-attachment: fixed;
background-size: cover;
background-position: center;">
    <div class="col-md-2 .col-md-3-part1">
        <li><a>Home</a></li>
        <li><a>Movies List</a></li>
        <li><a>Search</a></li>
        <li><a>Contact Us</a></li>
    </div>
    <div class="col-md-3">
        <a class="fa fa-flickr"></a>
        <a class="fab fa-schlix"></a>
        <a class="fa fa-imdb"></a>
        <a class="fab fa-battle-net"></a>
    </div>
    <div class="col-md-3 col-md-3-part4">
        <li><a>Home</a></li>
        <li><a>Movies List</a></li>
        <li><a>Search</a></li>
        <li><a>Contact Us</a></li>
    </div>
    <div class="col-md-4">
        <form>
            <li><input type="text" placeholder="Name"></li>
            <br>
            <li><input type="email" placeholder="Email"></li>
            <br>
            <button class="btn red">Subscribe</button>
        </form>
    </div>
</div>